#sectionStyle2{
    /* background-image: url(../image/Cover.png); */
    /* background-image: url(../image/cover1.jpg); */
    width: 100%;
    height: auto;
    margin-top: 2%;
    /* height: auto 300px; */
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% auto;
}

#business{
    background-color: aliceblue;
    opacity: 100%;
    width: fit-content;
    padding: 1%;
    font-size: 1.5vw;
    font-weight: bold;
}

#project{
    color: #2467A9;
    opacity: 100%;
    width: fit-content;
    padding: 1%;
    font-size: 1vw;
    font-weight: bold;
}

#projectDetail{
    color: aliceblue;
    background-color: #2467A9;
    text-align: center;
    margin-top: 3%;
    padding: 4%;
}

#imgbis{
    width: "30%";
    margin: "2%";
}

#busContent{
    margin: 2%;
    padding: 3%;
    margin-left: 3%;
    height: 100%;
    background-color: aliceblue;
    opacity: 100%;
    border-radius: 5%;
}