#footer-bule{
    background-color: #004F9B;
    width: 100%;
    height: auto;
    margin-top: 1%;
    /* position: fixed;
    left: 0; */
    /* bottom: 2%; */
}

#footer-black{
    background-color: #29292A;
    width: 100%;
    height: auto;
    /* position: fixed;
    left: 0; */
    /* bottom: 0; */
}

#content{
    margin-left: 5%;
    margin-right: 5%;
}

#about1{
    color: aliceblue;
    font-size: calc(0.35vh + 1vw);
    font-weight: bold;
}

#about2{
    color: aliceblue;
    font-size: calc(0.35vh + 0.75vw);
}

#about3{
    color: aliceblue;
    font-size: calc(0.2vh + 0.5vw);
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

#about4{
    color: aliceblue;
    font-size: calc(0.2vh + 0.75vw);
    margin-top: 1%;
    margin-bottom: 1%;
}

/* #footer2{
    position: fixed;
    left: 0;
    bottom: 0;
} */

#imgFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

#facebookFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .con {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }

#link{
    width: 6%;
    height: 6%; 
    word-wrap: break-word;
    display: block;
  }

  #link2{
    width: 30%;
    height: 30%; 
    word-wrap: break-word;
  }
