#nav-bar{
    background-color: "#004F9B";
    opacity: 80%;
}

#nav-dropdown{
    color: aliceblue;
    font-weight: bold;
}

#nav-Header{
    color: aliceblue;
    font-weight: bold;
}

#header{
    position: fixed;
    left: 0;
    top: 0;
}

#sectionStyle{
    /* background-image: url(../image/Cover.png); */
    background-image: url(../image/cover1.jpg);
    width: 100%;
    height:500px ;
    /* height: auto 300px; */
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% auto;
}

.navbar{
    padding: 0;
    background-color: "#004F9B";
    opacity: 80%;
}

.active{
    color: red;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: red;
}

body, html{
    height:100%;
    padding:0;
    margin:0;
}

#imgLogo{
    justify-content: center;
    align-items: center;
    height: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}